@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/nasalization-2');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
   --corFundo: #180161; 
   --corDestaques: #FF6D00; 
   --corBranco: #FFF;
   --corCinza: #ECECEC;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100dvh;

   font-family: "Inter", sans-serif;
   background-image: url("../images/fundo.svg");
   background-size: cover;
}

main {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 5%;
   width: 80%;
   min-height: 85dvh;
}

.textoPrincipal {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 40%;
}

.textoPrincipal > h1 {
   color: var(--corBranco);

   font-family: "Space Mono", monospace;

   font-size: 2.5em;
   font-weight: 500;
   text-align: center;

   padding-bottom: 1em;

   width: 100%;
}

.textoPrincipal > p {
   color: var(--corCinza);

   width: 100%;

   font-size: 1em;
   font-weight: 300;

   line-height: 1.5em;

   padding-bottom: 4em;

   opacity: 0; 
   transform: translateY(-100px); 
   animation: fadeIn 3s ease-out forwards; 
}


@keyframes fadeIn {
   to {
       opacity: 1; 
       transform: translateY(0);
   }
}

.imagemPrincipalMobile {
   display: none;
}


.botaoPrincipal {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0.5em;

   width: 100%;
   height: 2em;

   background-color: var(--corDestaques);
   border: 1px solid var(--corDestaques);
   border-radius: 0.3em;

   font-size: 1.5em;
   font-weight: bold;
   color: var(--corCinza);

   cursor: pointer;
   transition: all 0.3s ease;
}

.botaoPrincipal:hover {
   background-color: var(--corCinza);
   color: var(--corDestaques);
   border: 2px solid var(--corDestaques);
}

.botaoPrincipal img {
   transition: all 0.3s ease;
}

.textoPrincipal > button {
   /* color: var(--corCinza); */
   /* font-size: 1em; */
   font-weight: 200;
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}

.imagemPrincipal {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 25%;
}


.Formulario {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.container {
   padding: 2rem;
   border-radius: 10px;
   width: 100%;
   max-width: 600px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
   text-align: center;
   color: #FFF;
   font-size: 2rem;
   margin-bottom: 1.5rem;
}

.input-group {
   width: 100%;
   margin-bottom: 1rem;

}

.input-group p {
   margin-bottom: 0.5rem;
   color: #FFF;
   font-size: 0.875rem;
}

.input-group-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

.input-group-row .input-group {
   flex: 1;
}

input,
select {
   padding: 0.75rem 0;
   width: 100%;
   border: 2px solid #FF6D00;
   border-radius: 5px;
   background-color: #01032D;
   color: white;
   font-size: 0.875rem;
}

input::placeholder,
select {
   color: #ccc;
   padding-left: 1rem;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--corFundo); 
   color: white; 
   z-index: 1000; 
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* padding: 10px 20px; */
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-item {
   flex: 1;
   text-align: center;
}

.navbar-item a {
   text-decoration: none;
   color: var(--corBranco);;
   font-size: 16px;
   display: block;
   padding: 10px;
   transition: background-color 0.3s;
}

.navbar-item a:hover {
   background-color: #171fc3; 
}

main {
   margin-top: 60px; 
}
.imagemPrincipal > img {
   
   width: 100%;
}

@media screen and (max-width: 1441px) {
   .textoPrincipal{
      width: 45%;
   }
   .imagemPrincipal {
      width: 45%;
   }
}

@media screen and (max-width: 1025px) {
   main {
      width: 85%;
   }

   .textoPrincipal > h1 {
      font-size: 2em;
   }

   .textoPrincipal > p {
      font-size: 0.8em;
   }

   .imagemPrincipal {
      width: 45%;
   }
}

@media screen and (max-width: 769px) {
   main {
      width: 90%;
   }

   .textoPrincipal > h1 {
      font-size: 1.5em;
   }

   .textoPrincipal > p {
      font-size: 0.65em;
   }

}

@media screen and (max-width: 601px) {
   main {
      width: 95%;
   }

   .textoPrincipal > h1 {
      font-size: 1em;
   }

   .textoPrincipal > p {
      font-size: 0.5em;
   }

   .botaoPrincipal {
      font-size: 1em;
   }

   .botaoPrincipal > img {
      max-width: 25px;
      height: auto;
   }

}

@media screen and (max-width: 426px) {
   .textoPrincipal {
      width: 100%;
   }
   
   .textoPrincipal > h1 {
      font-size: 2em;
   }

   .textoPrincipal > p {
      font-size: 0.85em;
      text-align: justify;
   }

   .botaoPrincipal {
      font-size: 1em;

      max-width: 300px;
   }

   
   .imagemPrincipal {
      display: none;
   }

   .imagemPrincipalMobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding-bottom: 2em;
   }

   .imagemPrincipalMobile > img {
      max-height: 300px;
   }
}

@media screen and (max-width: 426px) {
   .textoPrincipal > p {
      font-size: 0.75em;
   }
}
